@font-face{
  font-family: 'Market Saturday1';
  src: url(../fonts/MarketSaturday.ttf),
       url(../fonts/MarketSaturday.otf);
}

body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #444;
}

*{
  box-sizing: border-box;
}

.red{
  font-family: 'Market Saturday1';
  color: blue;
}

.bgd{
  height: 300px;
  width: 600px;
  /* background: red; */
  background: url(../images/header.png); 
  /* 使用cssmodules时， 不能用images/header.png 要用./这种 */
}
